<h2>date picker mobile</h2>
<div class="container-fluid">
  <div class="row mb8 fix-container">
    <DatePicker::Mobile @selected={{this.model.selectedDate}} @onselect={{action (mut this.model.selectedDate)}} @dates={{this.model.dates}} />
  </div>
</div>
