<HorizontalListSwiper::NoDelayOnTransitionsInTest>
  <div role="list" class="horizontal-swipe-view-list animated" style="{{this.style}}">
    {{#each this.items as |item index|}}
      <div role="listitem" class="horizontal-swipe-view-item" style="{{this.styleItem}}">
        {{yield item index}}
      </div>
    {{/each}}
  </div>
</HorizontalListSwiper::NoDelayOnTransitionsInTest>
