{{#horizontal-list-swiper/no-delay-on-transitions-in-test}}
  <ul class="horizontal-swipe-view-list animated" style="{{style}}">
    {{#each items as |item index|}}
      <li class="horizontal-swipe-view-item" style="{{styleItem}}">
        {{yield item index}}
      </li>
    {{/each}}
  </ul>
{{/horizontal-list-swiper/no-delay-on-transitions-in-test}}
