# compiled output
/dist/
/tmp/

# misc
/.bowerrc
/.editorconfig
/.ember-cli
/.env*
/.eslintignore
/.eslintrc.js
/.git/
/.gitignore
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/ember-cli-build.js
/testem.js
/config/ember-try.js
/dist
/tests
/tmp
**/.gitkeep
