{{#if (eq model.slotPickerName 'slots-picker/mobile')}}
  {{#if (unbound (not viewport.isXs))}}
    <h2 class="red"> Switch to mobile view and reload the page</h2>
  {{/if}}
{{/if}}
{{demo/slots-pickers/individual-template model=model delay=delay}}
