{{#if (eq this.model.slotPickerName "slots-picker/mobile")}}
  {{#if (unbound (not this.viewport.isXs))}}
    <h2 class="red"> Switch to mobile view and reload the page</h2>
  {{/if}}
{{/if}}
<Demo::SlotsPickers::IndividualTemplate
  @onResetSlots={{this.resetSlots}}
  @model={{this.model}}
  @delay={{this.delay}}
/>
