& {
  .asp-table {
    .asp-col.asp-col-header {
      width: 70px;
      @media (max-width: 479px) {
        width: 38.20%;
      }
      
      &.border-right {
        border-right-width: 4px;
        border-color: white;
      }
    }
    .ember-appointment-slots-pickers{
      left:64px;
    }
    .asp-row.asp-row-header {
      .asp-cell {
        padding: 0px;
        height: 43px;
        text-transform: capitalize;
        &.border-right {
          border-right-width: 4px;
        }
      }
      height: 49px;
      box-sizing: content-box;
    }
  }
}
