<div class="asp-container">
  <div class="asp">
    {{yield
      (hash
        days=this.days
        rows=this.rows
        cols=this.cols
        cellsPerCol=this.cellsPerCol
        multiSelected=this.multiSelected
        cellsForColOfSelectedDays=this.cellsForColOfSelectedDays
        noSlotLabel=this.noSlotLabel
        slotsAreLoading=this.slotsAreLoading
        selectedFilter=this.selectedFilter
        canSelectMultipleSlots=this.canSelectMultipleSlots
      )
      (action "onSelectSlot")
      (action "onDeselectSlot")
    }}
  </div>
</div>
