& {
  .asp-container {
    position: relative;
  }
  .asp  {
    position: relative;
    z-index: #z.appointment-slot-picker[default];
  }
  .asp-overlay {
    position: absolute;
    top: 54px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 8px;
    background: #fff;
    z-index: #z.appointment-slot-picker[overlay];
    display: none;
    &.active {
      display: block;
      //for mobile
      margin-top: 5px;
    }
    @media (max-width: 479px) {
      top: 85px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .asp-table {
    position: relative;
    border-width: 4px;
    border-radius: 8px;
    border-color: #F5F5F5;
    border-style: solid;
    overflow: hidden;
  }
  .asp-btn {
    font-size: 16px;
    display: block;
    border-radius: 4px;
    height: 43px;
    width: 100%;
    padding: 0px 14px;
    line-height: 26px;
    color: @dark-blue;
    border-color: @dark-blue;
    font-weight: 600;
    &:hover {
      background: @dark-blue;
      border-color: @dark-blue;
      color: @white;
      @media (max-width: 767px) {
        background: none;
        color: @dark-blue;;
      }
    }
  }
  .asp-row-group {
    border-top: 10px solid rgba(0,0,0,.075);
  }
  .asp-row-header {
    & + .asp-row-group {
      border-top: none;
    }
    .asp-cell {
      text-transform: capitalize;
      &.border-right {
        border-right-width: 4px;
      }
    }
    height: 49px;
    box-sizing: content-box;
  }
  .asp-col {
    width: 176px;
    float: left;
    .asp-row-group:first-child {
      border: none;
    }
    @media (max-width: 479px) {
      width: 70%;
    }
    &.asp-col-header {
      width: 125px;
      @media (max-width: 479px) {
        width: 38.20%;
      }
      &.border-right {
        border-right-width: 4px;
        border-color: white;
      }
    }
    &:last-child {
      .asp-row, .asp-cell {
        border: none;
      }
    }
  }
  .asp-row {
    height: 53px;
    width: 100%;
    display: table;
    &.border-right {
      border-right-width: 4px;
    }
  }
  .asp-cell {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .no-slot-label {
      font-weight: 500;
      color: #BBB;
    }
    .fa.fa-check {
      padding-left: 8px;
      margin-right: -4px;
      font-size: 18px;
    }
  }
  .asp-scroll {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 125px;
    right: 0;
    bottom: 0;
    @media (max-width: 479px) {
      left: 100px;
    }
  }
  .asp-scroll-area-wrapper {
    height: 100%;
    width: 100%;
    z-index: #z.appointment-slot-picker[default];
    overflow:hidden;
  }
  .asp-scroll-area {
    transition: all .8s ease-in-out;
  }
  .asp-fade-left {
    .horizontal-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
    top: 53px;
    bottom: 0;
    width: 40px;
    position: absolute;
    left: 0;
  }
  .asp-fade-right {
    .horizontal-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    top: 53px;
    bottom: 0;
    width: 40px;
    position: absolute;
    right: 0;
  }
  .asp-scroll-btn {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    height: 49px;
    min-width: 36px;
    outline: none;
    z-index: #z.appointment-slot-picker[overlay];
    background: @dark-blue;;
    & .fa {
      font-size: 24px;
    }
    & span:not(.fa) {
      font-size: 24px;
      vertical-align: text-bottom;
    }
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 100%;
      top: 0;
      pointer-events: none;
    }
    &.asp-scroll-btn-prev {
      left: 0;
      padding: 0 8px;
      margin-left: -50px;
      &:before {
        right: -20px;
      }
    }
    &.asp-scroll-btn-next {
      right: 0;
      padding: 0 8px;
      &:before {
        .horizontal-gradient(rgba(0,94,184,0), rgba(0,94,184,1));
        left: -20px;
      }
    }
  }
  .asp-appointment-slot-selected {
    font-size: 16px;
    display: block;
    border-radius: 4px;
    height: 43px;
    line-height: 43px;
    width: 100%;
  }
  .animated {
    .horizontal-swipe-view-list {
      transition: .4s all;
    }
  }
  .slots-are-loading {
    background-image: url(/content/dam/british-gas/beta/svg/dot-loader-dark-blue.svg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
  }
  .application-pre-loader {
    margin-bottom: 150px;
    margin-top: 30px;
    .crop {
      //remove the bottom, "loading.." part of the image
      //https://stackoverflow.com/a/493329/4325661
      width: 100px;
      height: 80px;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      img.pre-loader {
        margin-bottom: -50px;
      }
    }
  }
}
