<h1>slots selections</h1>

You can select one or several slots on most slot-pickers using the slots-picker/selection-single or slots-pickers/selection-multi components.

See the main {{#link-to "demo.slots-pickers"}}slots pickers{{/link-to}} section for demo.

{{outlet}}
