<ScrollAnchorSlots @name="appointment-selected" />

{{#if this.selected}}
  <p class="bold font-size-6 mt4">
    Arriving
    {{or this.selected.slotPickerLongDayLabel this.selected.slotPickerDayLabel}}
    between
    {{this.selected.slotPickerStartTimeLabel}}
    and
    {{this.selected.slotPickerEndTimeLabel}}
  </p>
{{/if}}
