{{scroll-anchor name="appointment-selected"}}

{{#if selected}}
  <p class="bold font-size-6 mt4">
    Arriving {{or selected.slotPickerLongDayLabel selected.slotPickerDayLabel}} between
    {{selected.slotPickerStartTimeLabel}} and {{selected.slotPickerEndTimeLabel}}
  </p>
{{/if}}
