<div class="container-fluid">
  <h1>date picker mobile</h1>

  <h3>Default</h3>

  <div class="row mb8">
    {{date-picker-mobile
      selected=model.selectedDate
      onselect=(action (mut model.selectedDate))
      dates=model.dates
    }}
  </div>

</div>
