<h1>date pickers</h1>
<LinkTo
  @route="mobile"
  @model="demo.date-pickers.mobile"
  class="m3 btn btn-primary"
>Mobile</LinkTo>
<LinkTo
  @route="pickadate"
  @model="demo.date-pickers.pickadate"
  class="m3 btn btn-primary"
>Pick a date</LinkTo>
{{outlet}}
