<h1>horizontal-list swipers</h1>
{{link-to "horizontal-list-swiper/gesture" "demo.horizontal-list-swipers.gesture" class="m3 btn btn-primary"}}
{{link-to "horizontal-list-swiper/sly" "demo.horizontal-list-swipers.sly" class="m3 btn btn-primary"}}
{{link-to "horizontal-list-swiper/gesture2" "demo.horizontal-list-swipers.gesture2" class="m3 btn btn-primary"}}
{{outlet}}
