<h1>horizontal-list swipers</h1>
<LinkTo
  @route="horizontal-list-swiper/gesture"
  @model="demo.horizontal-list-swipers.gesture"
  class="m3 btn btn-primary"
>gesture</LinkTo>
<LinkTo
  @route="horizontal-list-swiper/sly"
  @model="demo.horizontal-list-swipers.sly"
  class="m3 btn btn-primary"
>sly</LinkTo>
<LinkTo
  @route="horizontal-list-swiper/gesture2"
  @model="demo.horizontal-list-swipers.gesture2"
  class="m3 btn btn-primary"
>gesture2</LinkTo>
{{outlet}}
