<ApplicationPreLoader>
  <h4>
    {{title}}
  </h4>
  <div class="cropDIS">
    <img class="pre-loader" src="/ember-appointment-slots-pickers/images/dot-loader-dark-blue.svg" alt="loading...">
  </div>
</ApplicationPreLoader>
