{{#application-pre-loader}}
  <h4>
    {{title}}
  </h4>
  <div class="crop">
    <img class="pre-loader" src="/content/dam/british-gas/beta/images/preloader.gif" alt="loading...">
  </div>
{{/application-pre-loader}}
