<h1>slots pickers</h1>

{{#each slotPickerNames as |slotPickerName|}}
  {{link-to slotPickerName "demo.slots-pickers.slot-picker-name" slotPickerName class="m3 btn btn-primary" }}
{{/each}}

{{outlet}}
