& {
  .date-picker-mobile {
    .horizontal-swipe-view {
      margin-top: -11px;
      .asp-table {
        border-color: white!important;
        .asp-col {
          margin-left: auto;
          margin-right: auto;
          display: block;
          float: none;
          .asp-row {
            border: none;
            .asp-cell {
              button, .no-slot-label, .asp-appointment-slot-selected {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
