<div class="scroll-header-sly-frame">
  <div role="list" class="scroll-header-sly-slidee">
    {{#each this.itemsUpdate as |item itemIndex|}}
      <div role="listitem" class="scroll-header-sly-item">
        {{yield item itemIndex}}
      </div>
    {{/each}}
  </div>
</div>
