<div class="container-fluid">

  <h2>horizontal-list-swiper/gesture</h2>

  (should probably consume gesture2)

  <div class="mb8 fix-container">
    {{#horizontal-list-swiper/gesture
      items=model
      index=100 as |item|
    }}
      <div class="cell" style="width:50px; height:1000px; float:left;">
        {{item}}
      </div>
    {{/horizontal-list-swiper/gesture}}
  </div>

</div>
