<div class="container mt10">
  <h1 id="title">Ember appointment slots pickers</h1>
  <ul>
    <li>{{#link-to "slot-pickers"}}Component | slot pickers{{/link-to}}</li>
    <li>{{#link-to "slot-picker-filter"}}Component | slot-picker-filter{{/link-to}}</li>
    <li>{{#link-to "slot-picker-refresher-container"}}Component | refresher container{{/link-to}}</li>
    <li>{{#link-to "scroll-header"}}Component | scroll header{{/link-to}}</li>
    <li>{{#link-to "date-picker-mobile"}}Component | date picker mobile{{/link-to}}</li>
  </ul>
</div>
