<div class="container mt10 ember-appointment-slots-pickers">
  <h1 id="title">Ember appointment slots pickers</h1>
  <ul>
    <li><LinkTo
        @route="demo.slots-pickers.easy-slot-picker"
      >easy-slot-picker</LinkTo></li>
    <li><LinkTo @route="demo.horizontal-list-swipers">horizontal-list swipers</LinkTo></li>
    <li><LinkTo @route="demo.date-pickers">date pickers</LinkTo></li>
    <li><LinkTo @route="demo.slots-pickers">slots pickers</LinkTo></li>
    <li><LinkTo @route="demo.slots-filter">slots-filter</LinkTo></li>
    <li><LinkTo @route="demo.clock-reloader">clock-reloader</LinkTo></li>
    <li><LinkTo @route="demo.slots-selections">slots-selections</LinkTo></li>
  </ul>
</div>
