<div class="container mt10 ember-appointment-slots-pickers">
  <h1 id="title">Ember appointment slots pickers</h1>
  <ul>
    <li>{{#link-to "demo.slot-pickers"}}Component | slot pickers{{/link-to}}</li>
    <li>{{#link-to "demo.slot-picker-filter"}}Component | slot-picker-filter{{/link-to}}</li>
    <li>{{#link-to "demo.slot-picker-refresher-container"}}Component | refresher container{{/link-to}}</li>
    <li>{{#link-to "demo.scroll-header"}}Component | scroll header{{/link-to}}</li>
    <li>{{#link-to "demo.date-picker-mobile"}}Component | date picker mobile{{/link-to}}</li>
  </ul>
</div>
